<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Captured Field List</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/template/css/style.css}"></link>
    
    <script type="text/javascript">
    jQuery(function ($) {
    	$("input:button").click(function (event) {
    		event.preventDefault();
    		if(event.target.value=='RemoveFromList'){
    			var id=event.target.id;
    			$(this).parent().parent().remove();
    			$.ajax({
            		type: 'POST',
            		url: '/removeTemplateLFields/'+id,
                    success: function (data) {
                        alert("Removed...")
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.status + ' ' + textStatus + '\n ' + jqXHR.responseText);
                        window.alert(jqXHR.responseText);
                    }
            	});
    		} else {
    			var ids = [];
    			var cnt = 0;
    			$('input:checked').each(function(){
    				ids[cnt++]=parseInt($(this).val());
    				$(this).parent().parent().remove();
    			});
    			//alert(ids);
    			$.ajax({
            		type: 'POST',
            		contentType : "application/json",
            		url: '/saveTemplate',
            		data: JSON.stringify(ids),
            		dataType: 'json',
                    success: function (result) {
                    	alert("Data Saved...");
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(jqXHR.status + ' ' + textStatus + '\n ' + jqXHR.responseText);
                        window.alert(jqXHR.responseText);
                    }
            	});
    		}
    	});
    	
    });
    </script>
</head>
<body>
<a href="/" >Home</a>
</br>
<div>
		<table border="1" id="data">
        <tr>
            <th>C-Id</th>
            <th>ClientName</th>
            <th>T-Id</th>
            <th>TemplateName</th>
            <th>FieldName</th>
            <th>MinX</th>
            <th>MinY</th>
            <th>MaxX</th>
            <th>MaxY</th>
            <th>File</th>
            <th>#</th>
            <th>Remove</th>
        </tr>
        <tr th:each ="selectionList : ${selectionList}" th:id="${selectionList.key}">
        	<td th:utext="${selectionList.value.client}">...</td>
        	<td th:utext="${selectionList.value.clientName}">...</td>
        	<td th:utext="${selectionList.value.template}">...</td>
        	<td th:utext="${selectionList.value.templateName}">...</td>
        	<td th:utext="${selectionList.value.fieldName}">...</td>
            <td th:utext="${selectionList.value.fieldZoneMinX}">...</td>
            <td th:utext="${selectionList.value.fieldZoneMinY}">...</td>
            <td th:utext="${selectionList.value.fieldZoneMaxX}">...</td>
            <td th:utext="${selectionList.value.fieldZoneMaxY}">...</td>
            <!-- <td th:utext="${selectionList.value.fileName}">...</td> -->
            <td><a th:href="@{addTemplate(fileName=${selectionList.value.fileName})}" th:text="${selectionList.value.fileName}">..</a></td>
            <td align="center"><input type="checkbox" name="ids" th:value="${selectionList.key}" th:id="${selectionList.key}"/></td>
            <td><input type="button" value="RemoveFromList" th:id="${selectionList.key}"/></td>
        </tr>
    </table>
    </br>
    <div>
    	<input type="button" value="Save To RPA"/>
    </div>
    <!--<h1>Selectd List</h1>
    <a href="addTemplate">Add Template</a>
    <a th:href="@{addTemplate(fileName=${selectionList.get(0).fileName})}" th:text="${selectionList.get(0).fileName}">Order ID</a>
    <br/><br/>-->
</div>
</body>
</html>