<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Template Upload</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript">
    jQuery(function ($) {
    	$("#uploadFile").click(function (event) {
    		//event.preventDefault();
    		if($("#file").val()==""){
	    		alert("Please upload file.");
	    		return false;
    		}
    		return true;
    	});
    	
    	$("input:button").click(function (event) {
    		event.preventDefault();
    		//alert("test");
    		var file=event.target.id;
			$(this).parent().parent().remove();
			$.ajax({
        		type: 'POST',
        		url: '/removeFile?file='+file,
                success: function (data) {
                    alert("Removed...")
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status + ' ' + textStatus + '\n ' + jqXHR.responseText);
                    window.alert(jqXHR.responseText);
                }
        	});
    	});
    });
    </script>
</head>
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" id="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" id="uploadFile" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<form th:action="@{/addTemplate}"
					   method="get">
					<input type="hidden" name="fileName" th:value="${file}"/>
					<a th:href="${file}" th:text="${file}" />
					<input type="submit" id="selectFile" value="choose File" />
					<input type="button" th:id="${file}" value="Remove" />
				</form>
			</li>
		</ul>
	</div>

</body>
</html>
